<template>
  <div id="bookmarks-forbidden">
    <div id="bookmarks-forbidden-wrapper">
      <div id="bookmarks-forbidden-icon">
        <Icon name="danger"/>
      </div>
      <div id="bookmarks-forbidden-text">
        <span>{{ message }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from "@/components/Icon";

export default {
  'name': 'Forbidden',
  'components': {Icon},
  'props': ['message']
}
</script>

<style scoped lang="less">
@import "style";

#bookmarks-forbidden {
  #bookmarks-views > .main;
}

#bookmarks-forbidden-wrapper {
  #bookmarks-views > .main-wrapper;
}

#bookmarks-forbidden-icon {
  #shortcuts > .position-center;

  height: 100px;

  svg {
    transform: scale(4);
  }
}

#bookmarks-forbidden-text {
  #bookmarks-views > .text;
}
</style>