<template>
  <div id="bookmarks-loading">
    <div id="bookmarks-loader-wrapper">
      <div id="bookmarks-loader">
        <LoaderAnimation/>
      </div>
      <div id="bookmarks-loader-text">
        <span>{{ directoriesLoadingText }}</span>
        <span>{{ bookmarksLoadingText }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import LoaderAnimation from "@/components/Loader";

export default {
  'name': 'Loader',
  'props': ['directoriesLoadingText', 'bookmarksLoadingText'],
  'components': {LoaderAnimation}
}
</script>

<style scoped lang="less">
@import "style";

#bookmarks-loading {
  #bookmarks-views > .main;
}

#bookmarks-loader-wrapper {
  #bookmarks-views > .main-wrapper;
}

#bookmarks-loader {
  #shortcuts > .position-center;
}

#bookmarks-loader-text {
  #bookmarks-views > .text;
}
</style>