@import "../../../index";

#bookmarks-views {
  .main {
    #shortcuts > .size-full;
    #shortcuts > .position-center;
  }

  .main-wrapper {
    display: grid;
    grid-gap: 30px;
  }

  .text {
    #shortcuts > .position-center;
    flex-direction: column;

    span {
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: bold;
    }

  }
}