<template>
  <div id="bookmarks-page" v-if="sameId()">
    <CreateFolderMenu
        v-if="createFolderMenuOpened"
        v-on:create="createDirectory"
        v-on:close="createFolderMenuOpened = false"
        v-bind:directories="directories"
    />
    <CreateBookmarkMenu
        v-if="createBookmarkMenuOpened"
        v-on:create="createBookmark"
        v-on:close="createBookmarkMenuOpened = false"
        v-bind:directories="directories"
    />
    <DeleteBookmarkMenu
      v-if="deleteBookmarkMenuOpened"
      v-on:close="deleteBookmarkMenuOpened = false"
      v-on:delete="deleteBookmark(selectedBookmark.id)"
    />
    <EditBookmarkMenu
      v-if="editBookmarkMenuOpened"
      v-bind:bookmark="selectedBookmark"
      v-bind:directories="directories"
      v-on:close="editBookmarkMenuOpened = false"
      v-on:edit="editBookmark"
    />
    <DeleteDirectoryMenu
      v-if="deleteDirectoryMenuOpened"
      v-on:close="deleteDirectoryMenuOpened = false"
      v-on:delete="deleteDirectory(selectedDirectory.id)"
    />
    <EditDirectoryMenu
      v-if="editDirectoryMenuOpened"
      v-bind:directory="selectedDirectory"
      v-bind:directories="directories"
      v-on:close="editDirectoryMenuOpened = false"
      v-on:edit="editDirectory"
    />
    <div id="header">
      <div id="header-wrapper">
        <div id="directories-burger-wrapper">
          <div id="directories-burger" v-on:click="open = true">
            <span/>
          </div>
        </div>
        <div id="bookmarks-search-wrapper">
          <div id="bookmarks-search">
            <input id="bookmarks-search-input" type="text" placeholder="Search bookmarks" v-on:keyup="searchTap"/>
            <div id="bookmarks-search-close" v-on:click="() => setSearchValue('')" v-bind:class="{'active': searchOpen}">
              <Icon name="close"/>
            </div>
          </div>
        </div>
        <div id="search-icon">
          <Icon name="search"/>
        </div>
      </div>
    </div>
    <div id="bookmarks-body" v-if="!(directoriesLoading || bookmarksLoading)">
      <div id="directories-shadow" v-bind:class="{'active': open}" v-on:click="open = false"/>
      <div id="directories-wrapper" v-bind:class="{'active': open}">
        <div id="directories">
          <div id="directories-null" v-if="directories.length <= 0">
            <div class="icon">
              <Icon name="bookmarks"/>
            </div>
            <div class="text">
              <span>You have no directories.</span>
            </div>
          </div>
          <div id="directories-actions">
            <div id="directories-create-wrapper" v-on:click="createFolderMenuOpened = true">
              <Icon name="new-folder"/>
            </div>
            <div id="directories-void">

            </div>
            <div id="bookmarks-create-wrapper" v-on:click="createBookmarkMenuOpened = true">
              <Icon name="add"/>
            </div>
          </div>
          <Directory
              v-for="(d, i) in directories"
              v-bind:key="i"
              v-bind:directory="d"
              v-bind:selected="selectedDirectory.id === d.id"
              v-on:selected="selectDirectory"
              v-on:delete="deleteDirectoryMenuOpened = true"
              v-on:edit="editDirectoryMenuOpened = true"
          />
        </div>
      </div>
      <div id="bookmarks-wrapper">
        <div id="bookmarks-null" v-if="selectedBookmarks.length <= 0">
          <div class="icon">
            <Icon name="bookmarks"/>
          </div>
          <div class="text">
            <span>There is no bookmarks.</span>
          </div>
        </div>
        <div v-else id="bookmarks-wrapper-two">
          <div id="bookmarks">
            <Bookmark
                v-for="(b, i) in selectedBookmarks"
                v-bind:key="i"
                v-bind:id="b.id"
                v-bind:name="b.name"
                v-bind:url="b.url"
                v-bind:directory="b.directory"
                v-on:delete="deleteBookmarkAction"
                v-on:edit="editBookmarkAction"
            />
          </div>
        </div>
      </div>
    </div>
    <ViewLoader
        v-else
        v-bind:bookmarks-loading-text="bookmarksLoadingText"
        v-bind:directories-loading-text="directoriesLoadingText"
    />
  </div>
  <Forbidden v-else message="Not enough rights for view other user's bookmarks."/>
</template>

<script>
import Icon from "@/components/Icon";
import { mapGetters, mapActions, mapMutations } from 'vuex'
import Bookmark from "@/components/Bookmark";
import Directory from "@/components/Directory";
import Loader from "@/components/Loader";
import CreateFolderMenu from "@/views/Bookmarks/menus/CreateFolderMenu";
import CreateBookmarkMenu from "@/views/Bookmarks/menus/CreateBookmarkMenu";
import Forbidden from "@/views/Bookmarks/view/Forbidden";
import ViewLoader from '@/views/Bookmarks/view/Loader'
import DeleteBookmarkMenu from "@/views/Bookmarks/menus/DeleteBookmarkMenu";
import EditBookmarkMenu from "@/views/Bookmarks/menus/EditBookmarkMenu";
import DeleteDirectoryMenu from "@/views/Bookmarks/menus/DeleteDirectoryMenu";
import EditDirectoryMenu from "@/views/Bookmarks/menus/EditDirectoryMenu";

export default {
  'name': 'Bookmarks',
  'components': {
    EditDirectoryMenu,
    DeleteDirectoryMenu,
    EditBookmarkMenu,
    DeleteBookmarkMenu,
    Forbidden,
    CreateBookmarkMenu,
    CreateFolderMenu,
    Loader, Directory,
    Bookmark,
    Icon,
    ViewLoader
  },
  data () {
    return {
      'open': false,
      'directoriesLoading': true,
      'directoriesLoadingText': 'Loading directories...',
      'bookmarksLoading': true,
      'bookmarksLoadingText': 'Loading bookmarks...',
      'createFolderMenuOpened': false,
      'createBookmarkMenuOpened': false,
      'deleteBookmarkMenuOpened': false,
      'editBookmarkMenuOpened': false,
      'deleteDirectoryMenuOpened': false,
      'editDirectoryMenuOpened': false,
      'searchOpen': false,
      'selectedDirectory': {},
      'selectedBookmarks': [],
      'selectedBookmark': {}
    }
  },
  'props': ['id'],
  'computed': {
    ...mapGetters(['bookmarks', 'directories', 'token'])
  },
  created() {
    let id = {
      'id': this.id
    }

    this.unsubscribe = this.$store.subscribe((mutation) => {
      if (mutation.type === 'setDirectories') {
        this.directoriesLoading = false
        this.directoriesLoadingText += 'done'
      } else if (mutation.type === 'setBookmarks') {
        this.bookmarksLoading = false
        this.bookmarksLoadingText += 'done'
      }
    })

    if (this.sameId()) {
      this.fetchDirectories(id)
      this.fetchBookmarks(id)
    }
  },
  beforeDestroy() {
    this.unsubscribe()
  },
  'methods': {
    ...mapActions([
      'fetchBookmarks',
      'fetchDirectories',
      'createBookmark',
      'createDirectory',
      'deleteBookmark',
      'deleteDirectory',
      'editBookmark',
      'editDirectory'
    ]),
    ...mapMutations([]),
    sameId() {
      return Number.parseInt(this.id) === this.token.user
    },
    searchTap(event) {
      let text = event.target.value

      this.searchOpen = !!text.trim()
    },
    setSearchValue(value) {
      document.getElementById('bookmarks-search-input').value = value
      this.searchOpen = false
    },
    selectDirectory(directory) {
      this.selectedDirectory = directory

      this.selectedBookmarks = this.bookmarks.filter((b) => {
        return b.directory === directory.id
      })
    },
    deleteBookmarkAction(id) {
      this.deleteBookmarkMenuOpened = true
      this.selectedBookmark = this.bookmarks[this.bookmarks.findIndex((b) => b.id === id)]
    },
    editBookmarkAction(id) {
      this.editBookmarkMenuOpened = true
      this.selectedBookmark = this.bookmarks[this.bookmarks.findIndex((b) => b.id === id)]
    }
  }
}
</script>

<style scoped lang="less">
@import "../../index";

@bookmarks-width: 850px;
@directories-width: 350px;
@header-height: 50px;

.null(@width) {
  width: @width;
  min-height: @width;
  display: flex;
  flex-direction: column;

  .icon {
    height: 200px;
    #shortcuts > .position-center
  }

  .icon > svg {
    transform: scale(5);
    fill: grey;
  }

  .text {
    padding: 20px;
    #shortcuts > .position-center
  }

  .text > span {
    font-size: 20px;
    color: grey;
  }

}

#search-icon,
#directories-burger-wrapper,
#directories-shadow {
  display: none;
}

#bookmarks-page {
  #shortcuts > .size-full;
}

#header {
  width: 100%;
  height: @header-height;
  position: fixed;
  background-color: @super-block-color;
  z-index: 80;
  top: 0;
}

#header-wrapper {
  padding-left: @directories-width;
  height: 100%;
}

#header-wrapper,
#bookmarks-search-wrapper,
#bookmarks-search-close,
#bookmarks-wrapper {
  #shortcuts > .position-center
}

#bookmarks-search-wrapper {
  width: @bookmarks-width;
  height: 100%;
}

#bookmarks-search {
  display: grid;
  grid-template-columns: 550px 50px;
  height: 36px;
  background-color: @background-color;
  border-radius: 7px;
}

#bookmarks-search-input {
  padding: 8px 0 7px 10px;
}

#bookmarks-search-close {
  visibility: hidden;
  cursor: pointer;
}

#bookmarks-search-close.active {
  visibility: visible;
}

#bookmarks-body {
  #shortcuts > .size-full;
  padding: @header-height + 20px 0 0 0;
  display: grid;
  grid-template-columns: @directories-width 1fr;
}

#directories {
  height: 100%;
}

#directories-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: @directories-width;
  height: 50px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

#directories-create-wrapper {
  #shortcuts > .position-center;
  cursor: pointer;

  svg {
    transform: scale(1.5);
  }
}

#bookmarks-create-wrapper {
  #shortcuts > .position-center;
  cursor: pointer;

  svg {
    transform: scale(1.5);
  }
}

#directories-null {
  .null(@directories-width)
}

#bookmarks-wrapper {
  #shortcuts > .size-full
}

#bookmarks-wrapper-two {
  width: @bookmarks-width;
  height: 100%;
  margin: 0 20px 0 20px;
}

#bookmarks {
  background-color: @block-color;
  border-radius: 7px;
}

#bookmarks-null {
  .null(@directories-width);
}

@media (max-width: 1250px) {
  @directories-width: 300px;

  #header {
    z-index: 0;
  }

  #header-wrapper {
    padding-left: 0;
  }

  #directories-burger-wrapper {
    #shortcuts > .position-center;
    #shortcuts > .top-left;
    position: fixed;
    width: @header-height;
    height: @header-height;
    cursor: pointer;
  }

  #directories-burger {
    height: @burger-height;
    width: @burger-width;
    position: relative;
  }

  #directories-burger:before,
  #directories-burger > span,
  #directories-burger:after {
    position: absolute;
    background-color: @primary-color;
    content: "";
    width: @burger-width;
    height: 2px;
  }

  #directories-burger:before {
    top: 0;
  }

  #directories-burger > span {
    top: 8px;
  }

  #directories-burger:after {
    bottom: 0;
  }

  #bookmarks-search-wrapper {
    width: auto;
  }

  #directories-actions {
    width: @directories-width;
  }

  #directories-wrapper {
    #shortcuts > .top-left;
    height: 100%;
    width: @directories-width;
    display: flex;
    position: fixed;
    background-color: @block-color;
    z-index: 90;
    flex-direction: column;
    visibility: hidden;
  }

  #directories-shadow {
    display: block;
    position: fixed;
    #shortcuts > .size-full;
    background-color: black;
    opacity: 0.6;
    top: 0;
    cursor: pointer;
    visibility: hidden;
  }

  #directories-wrapper.active,
  #directories-shadow.active {
    visibility: visible;
  }

  #directories-null {
    .null(300px)
  }

  #bookmarks-body {
    display: block;
  }

}

@media (max-width: 768px) {
  #directories-burger-wrapper {
    position: static;
  }

  #header-wrapper {
    display: grid;
    grid-template-columns: @header-height 1fr;
  }

  #bookmarks-search-wrapper {
    padding: 0 10px 0 10px;
  }

  #bookmarks-search {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr 50px;
  }
}

@media (max-width: 320px) {
  #bookmarks {
  }

  #bookmarks-null {
    .icon {
      height: 150px;

      svg {
        transform: scale(4);
      }
    }

    .text {
      span {
        font-size: 18px;
      }
    }
  }
}

</style>