<template>
  <div id="home">
    <div id="home-wrapper">
      <div id="welcome-text">
        <div id="welcome-text-wrapper">
          <span>{{ text }}</span>
        </div>
        <div id="welcome-sub-text">
          <span>{{ subText }}</span>
        </div>
      </div>
      <div id="home-actions">
        <div>
          <button id="action-sign-in" v-on:click="redirectToLogin">Sign in</button>
        </div>
        <div>
          <button id="action-sign-up" v-on:click="redirectToRegister">Sing up</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  'name': 'Home',
  data() {
    return {
      'text': 'Orizura this is an application where you can store your bookmarks.',
      'subText': 'Here you can create, save, edit and delete your bookmarks. ' +
          'For start using orizura you should sign in or sign up. ' +
          'After that you will be redirected to bookmarks page, where you can work with your bookmarks.'
    }
  },
  'methods': {
    redirectToRegister() {
      this.$router.push({
        'name': 'register'
      })
    },
    redirectToLogin() {
      this.$router.push({
        'name': 'login'
      })
    }
  }
}
</script>

<style scoped lang="less">
@import "../index";

#home {
  #shortcuts > .position-center;
  #shortcuts > .size-full;

  flex-direction: column;
}

#home-wrapper {
  display: grid;
  grid-template-rows: 1fr 200px;
}

#welcome-text {
  display: flex;
  flex-direction: column;

  max-width: 500px;
}

#welcome-text-wrapper {
  padding: 20px;
  word-break: break-word;
  text-align: center;

  span {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

#welcome-sub-text {
  padding: 20px;
  word-break: break-word;
  text-align: center;

  span {
  }
}

#home-actions {
  #shortcuts > .position-center;
  justify-content: space-evenly;

  div {
    padding: 10px;

    button {
      padding: 20px 50px 20px 50px;
    }
  }
}

</style>