<template>
  <div id="login-view">
    <div id="login-wrapper">
      <div id="login">
        <input id="login-name" type="text" placeholder="Username" v-on:keyup="changeFocus">
        <input id="login-password" type="password" placeholder="Password" v-on:keyup="submitOnEnter">
        <div id="login-action">
          <button id="submit" v-on:click="submit">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import { mapMutations, mapGetters, mapActions } from 'vuex'

export default {
  'name': 'Login',
  'computed': mapGetters(['token']),
  created() {
    this.unsubscribe = this.$store.subscribe((mutation) => {
      if (mutation.type === 'setToken') {
        if (Number.isInteger(this.token.user)) {
          this.redirect()
        }
      }
    })
  },
  beforeDestroy() {
    this.unsubscribe()
  },
  'methods': {
    ...mapActions(['login']),
    ...mapMutations(['addAlert']),
    changeFocus(event) {
      if (event.key === 'Enter') {
        document.getElementById('login-password').focus()
      }
    },
    submitOnEnter(event) {
      if (event.key === 'Enter') {
        this.submit()
      }
    },
    submit() {
      let name = document.getElementById('login-name').value
      let password = document.getElementById('login-password').value

      this.login({
        name,password
      })
    },
    redirect() {
      if (!Number.isInteger(this.token.user)) {
        this.addAlert({
          'header': 'Cannot redirect to the user bookmarks because token.user isn\'t a number.',
          'text': 'Possible reasons:\n' +
              '1) An error occurred while receiving the information about token. \n' +
              '2) Browser have no permissions, such as cookies. \n' +
              '3) An error occurred in user-side. Recommended to reload page. \n' +
              '4) The developer is an idiot. \n'
        })
      } else {
        this.$router.push({
          'name': 'bookmarks',
          'params': {
            'id': this.token.user
          }
        })
      }
    }
  }
}
</script>

<style scoped lang="less">
@import "../index";

#login-view {
  #shortcuts > .size-full;
  #shortcuts > .position-center;
}

#login-wrapper {
  width: 260px;
  height: 100%;
  #shortcuts > .position-center;
}

#login {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 30px);
  grid-gap: 7px;
}

input {
  background-color: @super-block-color;
  padding: 0 8px 0 8px;
}

#login-action {
  #shortcuts > .position-center;
  justify-content: flex-end;

  #submit {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }
}

</style>