<template>
  <div id="not-found">
    <div id="not-found-icon">
      <Icon name="sad-face"/>
    </div>
    <div id="not-found-text">
      <span>Page nof found.</span>
    </div>
  </div>
</template>

<script>
import Icon from "@/components/Icon";

export default {
  'name': 'NotFound',
  components: {Icon}
}
</script>

<style scoped lang="less">
@import "../index";

#not-found {
  #shortcuts > .position-center;
  #shortcuts > .size-full;

  flex-direction: column;
}

#not-found-icon {
  #shortcuts > .position-center;

  height: 200px;

  svg {
    transform: scale(5);
  }
}

#not-found-text {
  span {
    font-size: 20px;
    font-weight: bold;
  }
}
</style>