<template>
  <div id="register-view">
    <div id="register-wrapper">
      <div id="register">
        <input id="register-name" type="text" placeholder="Username" v-on:keyup="focusEmail">
        <input id="register-email" type="email" placeholder="Email" v-on:keyup="focusPassword">
        <input id="register-password" type="password" placeholder="Password" v-on:keyup="focusConfirm">
        <input id="register-password-confirm" type="password" placeholder="Confirm password" v-on:keyup="submitOnEnter">
        <div id="register-action">
          <button id="submit" v-on:click="submit">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  'name': 'Register',
  'computed': mapGetters(['token']),
  created() {
    this.unsubscribe = this.$store.subscribe((mutation) => {
      if (mutation.type === 'setToken') {
        if (Number.isInteger(this.token.user)) {
          this.redirect()
        }
      }
    })
  },
  beforeDestroy() {
    this.unsubscribe()
  },
  'methods': {
    ...mapActions(['register', 'authenticate']),
    ...mapMutations(['addAlert']),
    focusEmail(event) {
      if (event.key === 'Enter') {
        document.getElementById('register-email').focus()
      }
    },
    focusPassword(event) {
      if (event.key === 'Enter') {
        document.getElementById('register-password').focus()
      }
    },
    focusConfirm(event) {
      if (event.key === 'Enter') {
        document.getElementById('register-password-confirm').focus()
      }
    },
    submitOnEnter(event) {
      if (event.key === 'Enter') {
        this.submit()
      }
    },
    submit() {
      let name = document.getElementById('register-name').value
      let email = document.getElementById('register-email').value
      let password = document.getElementById('register-password').value
      let confirm = document.getElementById('register-password-confirm').value

      if (confirm !== password) {
        this.addAlert({
          'header': 'Passwords do not match.'
        })

        return
      }

      this.register({
        name, email, password
      })
    },
    redirect() {
      if (!Number.isInteger(this.token.user)) {
        this.addAlert({
          'header': 'Cannot redirect to the user bookmarks because token.user isn\'t a number.',
          'text': 'Possible reasons:\n' +
              '1) An error occurred while receiving the information about token. \n' +
              '2) Browser have no permissions, such as cookies. \n' +
              '3) An error occurred in user-side. Recommended to reload page. \n' +
              '4) The developer is an idiot. \n'
        })
      } else  {
        this.$router.push({
          'name': 'bookmarks',
          'params': {
            'id': this.token.user
          }
        })
      }
    },
  }
}
</script>

<style scoped lang="less">
@import "../index";

#register-view {
  #shortcuts > .size-full;
  #shortcuts > .position-center;
}

#register-wrapper {
  width: 260px;
  height: 100%;
  #shortcuts > .position-center;
}

#register {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 30px);
  grid-gap: 7px;
}

input {
  background-color: @super-block-color;
  padding: 0 8px 0 8px;
}

#register-action {
  #shortcuts > .position-center;
  justify-content: flex-end;

  #submit {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }
}
</style>