<template>
  <div
      class="alert"
      v-bind:class="{'alert-pop-right': !shown, 'alert-pop-up': shown}"
      v-on:click="$emit('open')"
  >
    <div class="alerts-header">
      <span>{{ header }}</span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  'name': 'Alert',
  'props': ['header'],
  'computed': {
    ...mapGetters(['alerts'])
  },
  data() {
    return {
      'shown': true
    }
  },
  mounted() {
    setTimeout(() => {
      this.shown = false
    }, 30000)
    setTimeout(() => {
      this.$emit('hide')
    }, 30500)
  }
}
</script>

<style scoped lang="less">
@import "../index";

@alert-width: 280px;

.alert {
  width: @alert-width;
  position: relative;

  background-color: @block-color;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

.alert-pop-up {
  animation-name: popUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.alert-pop-right {
  animation-name: popRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes popUp {
  from {
    bottom: -9999px;
  }
  to {
    bottom: 0;
  }
}

@keyframes popRight {
  from {
    right: 0;
  }
  to {
    right: -(100px + @alert-width);
  }
}

.alerts-header {
  word-break: break-word;

  span {
    font-size: 16px;
    font-weight: bold;
  }
}
</style>