<template>
  <div class="bookmark">
    <a v-bind:href="url">
      <div class="icon">
        <Icon name="web"/>
      </div>
      <div class="name">
        <span>{{name}}</span>
      </div>
    </a>
    <div class="actions">
      <div class="icon" v-on:click="actionMenuOpen = !actionMenuOpen">
        <Icon name="more"/>
      </div>
      <div class="actions-menu" v-if="actionMenuOpen">
        <div class="action-edit" v-on:click="$emit('edit', id)">
          <span>Edit</span>
        </div>
        <div class="action-delete" v-on:click="$emit('delete', id)">
          <span>Delete</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from "@/components/Icon";
export default {
  'name': 'Bookmark',
  'components': {Icon},
  'props': ['id', 'name', 'url', 'directory'],
  data() {
    return {
      'actionMenuOpen': false
    }
  }
}
</script>

<style scoped lang="less">
@import "../index";

.bookmark {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 50px;
  cursor: pointer;

  a {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .icon, .actions, .name {
    #shortcuts > .position-center
  }

  .icon {
    #shortcuts > .size-full;
  }

  .name {
    flex-direction: column;
    overflow: hidden;

    span {
      align-self: flex-start;
    }
  }

  .actions {
    #shortcuts > .position-center;

    position: relative;
  }
}

@action-width: 150px;

.actions-menu {
  position: absolute;
  right: -(@action-width + 30px);

  background-color: @background-color;
  border: 2px solid @sub-block-color;
  border-radius: 7px;

  div {
    width: @action-width;
    padding: 10px; // TODO: media req
  }
}

@media (max-width: 1250px) {
  .actions-menu {
    right: 50px;
  }
}

</style>