<template>
  <div class="directory" v-on:click="$emit('selected', directory)">
    <div class="icon">
      <Icon v-if="selected" name="opened-folder"/>
      <Icon v-else name="folder"/>
    </div>
    <div class="name">
      <span>{{ directory.name }}</span>
    </div>
    <div class="actions">
      <div class="actions-icon" v-on:click="opened = !opened">
        <Icon name="more"/>
      </div>
      <div class="actions-menu" v-if="opened">
        <div class="action-edit" v-on:click="$emit('edit', directory.id)">
          <span>Edit</span>
        </div>
        <div class="action-delete" v-on:click="$emit('delete', directory.id)">
          <span>Delete</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from "@/components/Icon";
export default {
  'name': "Directory",
  'components': {Icon},
  'props': ['directory', 'selected'],
  data() {
    return {
      'opened': false
    }
  }
}
</script>

<style scoped lang="less">
@import "../index";

.directory {
  display: grid;
  grid-template-columns: 50px 1fr 50px;

  height: 50px;
  cursor: pointer;

  .icon {
    #icon > .standard-size;
    #shortcuts > .position-center;

    svg {
      transform: scale(1.25);
    }
  }

  .name {
    #shortcuts > .position-center;

    overflow: hidden;
    justify-content: flex-start;

    span {
      font-size: 16px;
      letter-spacing: 0.5px;
      font-weight: bolder;
      color: grey;
    }
  }
}

@action-width: 150px;

.actions {
  #shortcuts > .position-center;

  position: relative;
}

.actions-icon {
  #shortcuts > .position-center;
  #shortcuts > .size-full;
}

.actions-menu {
  position: absolute;
  right: -(@action-width + 30px);

  background-color: @background-color;
  border: 2px solid @sub-block-color;
  border-radius: 7px;

  div {
    width: @action-width;
    padding: 10px; // TODO: media req
  }
}

@media (max-width: 1250px) {
  .actions-menu {
    right: 50px;
  }
}

</style>