<template>
  <div class="loader-wrapper">
    <div class="loader"/>
  </div>
</template>

<script>
export default {
  'name': 'Loader'
}
</script>

<style scoped lang="less">
@import "../index";

.loader-wrapper {
  display: inline-block;
}

.loader {
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: @primary-color transparent @primary-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>