<template>
  <div class="select-wrapper">
    <div class="select" v-on:click="click">
      <span>{{selected}}</span>
    </div>
    <div class="options" v-bind:class="{'active': opened}">
      <div
          class="option"
          v-for="(o, i) in options"
          v-bind:key="i"
          v-on:click="select(o.id, o.name)"
      >
        <span>{{o.name}}</span>
      </div>
    </div>
  </div>
</template>

<script> // TODO: keyboard control
export default { // TODO: default values
  'name': 'Select',
  'props': ['options'],
  data() {
    return {
      'opened': false,
      'selected': ''
    }
  },
  'methods': {
    click() {
      if (this.options.length > 0) {
        this.opened = !this.opened
      }
    },
    select(id, name) {
      this.opened = false
      this.selected = name

      this.$emit('selected', id)
    }
  }
}
</script>

<style scoped lang="less">
@import "../index";

.select-wrapper {
  #shortcuts > .size-full;
  #shortcuts > .position-center;

  position: relative;
  background-color: @background-color;
  border-radius: 7px;
}

.select {
  #shortcuts > .size-full;
  #shortcuts > .position-center;
  justify-content: flex-start;
  padding-left: 10px;
  cursor: pointer;
}

.options.active {
  visibility: visible;
}

.options {
  position: absolute;

  width: 100%;

  visibility: hidden;
  background-color: @background-color;
  border-radius: 7px;
  z-index: 100;

  .option {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
  }
}
</style>