<template>
  <div id="create-bookmark-wrapper">
    <div id="create-bookmark-shadow" v-on:click="$emit('close')"></div>
    <div id="create-bookmark-menu">
      <div id="create-bookmark-name">
        <input id="create-bookmark-name-input" type="text" placeholder="Name" v-on:keyup="focusUrl">
      </div>
      <div id="create-bookmark-url">
        <input id="create-bookmark-url-input" type="url" placeholder="Url" v-on:keyup="focusDescription">
      </div>
      <div id="create-bookmark-description">
        <textarea id="create-bookmark-description-input" name="bookmark-description" placeholder="Description" v-on:keyup="keyPress"></textarea>
      </div>
      <div id="create-bookmark-directory">
        <Select v-bind:options="directories" v-on:selected="selectDirectory"/>
      </div>
      <div id="create-bookmark-actions">
        <div id="create-bookmark-loading-wrapper">
          <Loader id="create-bookmark-loading" v-if="loading"/>
        </div>
        <button id="create-bookmarks-create" v-on:click="create">Create</button>
      </div>
    </div>
  </div>
</template>

<script>
import Select from "@/components/Select";
import Loader from "@/components/Loader";

export default {
  'name': 'CreateBookmarkMenu',
  'components': {Loader, Select},
  'props': ['directories'],
  data() {
    return {
      'directory': null,
      'loading': false
    }
  },
  'methods': {
    selectDirectory(id) {
      this.directory = id
    },
    focusUrl(event) {
      if (event.key === 'Enter') {
        document.getElementById('create-bookmark-url-input').focus()
      }
    },
    focusDescription(event) {
      if (event.key === 'Enter') {
        document.getElementById('create-bookmark-description-input').focus()
      }
    },
    keyPress(event) {
      if (event.key === 'Enter') {
        this.create()
      }
    },
    create() {
      if (!this.directory) {
        return;
      }

      this.loading = true


      this.$emit('create', {
        'name': document.getElementById('create-bookmark-name-input').value,
        'url': document.getElementById('create-bookmark-url-input').value,
        'description': document.getElementById('create-bookmark-description-input').value,
        'directory': this.directory
      })
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="less">
@import "menu";

@menu-width: 275px;

#create-bookmark-wrapper {
  #bookmarks-menu > .menu-wrapper;
}

#create-bookmark-shadow {
  #bookmarks-menu > .menu-shadow;
}

#create-bookmark-menu {
  #bookmarks-menu > .menu(@menu-width);

  display: grid;
  grid-template-rows: 40px 40px 1fr 30px;
  grid-gap: 10px;

  #create-bookmark-actions {
    #bookmarks-menu > .menu-actions;
  }

  div {
    #shortcuts > .position-center;

    input {
      padding: 10px;
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 100px;
      overflow: visible;
    }
  }
}

#create-bookmark-loading-wrapper {
  #bookmarks-menu > .menu-loading;
}

</style>