<template>
  <div id="create-folder-wrapper">
    <div id="create-folder-shadow" v-on:click="$emit('close')"></div>
    <div id="create-folder-menu">
      <div id="create-folder-name">
        <input id="create-folder-name-input" type="text" placeholder="Folder name" v-on:keyup="keyPress">
      </div>
      <div id="create-folder-parent">
        <Select v-bind:options="directories" v-on:selected="setParent"/>
      </div>
      <div id="create-folder-actions">
        <div id="create-folder-loading-wrapper">
          <Loader id="create-folder-loading" v-if="loading"/>
        </div>
        <button id="create-folder-submit" v-on:click="create">Create</button>
      </div>
    </div>
  </div>
</template>

<script>
import Select from "@/components/Select";
import Loader from "@/components/Loader";

export default {
  'name': 'CreateFolderMenu',
  'components': {Loader, Select},
  'props': ['directories'],
  data() {
    return {
      'parent': null,
      'loading': false
    }
  },
  'methods': {
    keyPress(event) {
      if (event.key === 'Enter') {
        this.create()
      }
    },
    setParent(id) {
      this.parent = id
    },
    create() {
      let name = document.getElementById('create-folder-name-input').value

      if (!name.trim()) {
        return
      }

      this.loading = true

      this.$emit('create', {
        'name': name,
        'parent': this.parent
      })
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="less">
@import "menu";

@menu-width: 275px;

#create-folder-wrapper {
  #bookmarks-menu > .menu-wrapper;
}

#create-folder-shadow {
  #bookmarks-menu > .menu-shadow;
}

#create-folder-menu {
  #bookmarks-menu > .menu(@menu-width);

  display: grid;
  grid-template-rows: 40px 40px 30px;
  grid-gap: 10px;
}

#create-folder-name {
  #shortcuts > .position-center;

  input {
    padding: 10px;
    width: 100%;
  }
}

#create-folder-parent {
  select {
    #shortcuts > .size-full;

    option {
      padding: 50px;
    }
  }
}

#create-folder-actions {
  #bookmarks-menu > .menu-actions;
}

#create-folder-loading-wrapper {
  #bookmarks-menu > .menu-loading;
}
</style>