<template>
  <div id="delete-directory-wrapper">
    <div id="delete-directory-shadow" v-on:click="$emit('close')"></div>
    <div id="delete-directory-menu">
      <div id="delete-directory-text">
        <span>Are you sure you want to delete the directory?</span>
      </div>
      <div id="delete-directory-actions">
        <div id="delete-directory-loading-wrapper">
          <Loader id="delete-directory-loading" v-if="loading"/>
        </div>
        <button id="delete-directory" v-on:click="deleteDirectory">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from "@/components/Loader";

export default {
  'name': 'DeleteDirectoryMenu',
  'components': {
    Loader
  },
  data() {
    return {
      'loading': false
    }
  },
  'methods': {
    deleteDirectory() {
      this.loading = true

      this.$emit('delete')
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="less">
@import "menu";

@menu-width: 275px;

#delete-directory-wrapper {
  #bookmarks-menu > .menu-wrapper;
}

#delete-directory-shadow {
  #bookmarks-menu > .menu-shadow;
}

#delete-directory-menu {
  #bookmarks-menu > .menu(@menu-width);

  display: grid;
  grid-template-rows: 1fr 30px;
  grid-gap: 5px;
}

#delete-directory-actions {
  #bookmarks-menu > .menu-actions;
}

#delete-directory-loading-wrapper {
  #bookmarks-menu > .menu-loading;
}
</style>