<template>
  <div id="delete-bookmark-wrapper">
    <div id="delete-bookmark-shadow" v-on:click="$emit('close')"></div>
    <div id="delete-bookmark-menu">
      <div id="delete-bookmark-text">
        <span>Are you sure you want to delete the bookmark?</span>
      </div>
      <div id="delete-bookmark-actions">
        <div id="delete-bookmark-loading-wrapper">
          <Loader id="delete-bookmark-loading" v-if="loading"/>
        </div>
        <button id="delete-bookmark" v-on:click="deleteBookmark">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from "@/components/Loader";

export default {
  'name': 'DeleteBookmarkMenu',
  'components': {
    Loader
  },
  data() {
    return {
      'loading': false
    }
  },
  'methods': {
    deleteBookmark() {
      this.loading = true

      this.$emit('delete')
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="less">
@import "menu";

@menu-width: 275px;

#delete-bookmark-wrapper {
  #bookmarks-menu > .menu-wrapper;
}

#delete-bookmark-shadow {
  #bookmarks-menu > .menu-shadow;
}

#delete-bookmark-menu {
  #bookmarks-menu > .menu(@menu-width);

  display: grid;
  grid-template-rows: 1fr 30px;
  grid-gap: 5px;
}

#delete-bookmark-actions {
  #bookmarks-menu > .menu-actions;
}

#delete-bookmark-loading-wrapper {
  #bookmarks-menu > .menu-loading;
}
</style>