<template>
  <div id="edit-folder-wrapper">
    <div id="edit-folder-shadow" v-on:click="$emit('close')"></div>
    <div id="edit-folder-menu">
      <div id="edit-folder-name">
        <input
            id="edit-folder-name-input"
            type="text" placeholder="Folder name"
            v-bind:value="directory.name"
            v-on:keyup="keyPress"
        >
      </div>
      <div id="edit-folder-parent">
        <Select v-bind:options="directories" v-on:selected="setParent"/>
      </div>
      <div id="edit-folder-actions">
        <div id="edit-folder-loading-wrapper">
          <Loader id="edit-folder-loading" v-if="loading"/>
        </div>
        <button id="edit-folder-submit" v-on:click="edit">Edit</button>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from '@/components/Loader';
import Select from '@/components/Select'

export default {
  'name': 'EditDirectoryMenu',
  'components': {
    Select,
    Loader
  },
  'props': ['directory', 'directories'],
  data() {
    return {
      'loading': false,
      'parent': null
    }
  },
  'methods': {
    keyPress(event) {
      if (event.key === 'Enter') {
        this.create()
      }
    },
    setParent(id) {
      this.parent = id
    },
    edit() {
      let name = document.getElementById('edit-folder-name-input').value

      if (!name.trim()) {
        return
      }

      this.loading = true

      this.$emit('edit', {
        ...this.directory,
        'name': name,
        'parent': (!Number.isInteger(this.parent)) ? this.directory.id : this.parent
      })
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="less">
@import "menu";

@menu-width: 275px;

#edit-folder-wrapper {
  #bookmarks-menu > .menu-wrapper;
}

#edit-folder-shadow {
  #bookmarks-menu > .menu-shadow;
}

#edit-folder-menu {
  #bookmarks-menu > .menu(@menu-width);

  display: grid;
  grid-template-rows: 40px 40px 30px;
  grid-gap: 10px;
}

#edit-folder-name {
  #shortcuts > .position-center;

  input {
    padding: 10px;
    width: 100%;
  }
}

#edit-folder-parent {
  select {
    #shortcuts > .size-full;

    option {
      padding: 50px;
    }
  }
}

#edit-folder-actions {
  #bookmarks-menu > .menu-actions;
}

#edit-folder-loading-wrapper {
  #bookmarks-menu > .menu-loading;
}
</style>