<template>
  <div id="edit-bookmark-wrapper">
    <div id="edit-bookmark-shadow" v-on:click="$emit('close')"></div>
    <div id="edit-bookmark-menu">
      <div id="edit-bookmark-name">
        <input
            id="edit-bookmark-name-input"
            type="text"
            placeholder="Name"
            v-bind:value="bookmark.name"
            v-on:keyup="focusUrl"
        >
      </div>
      <div id="edit-bookmark-url">
        <input
            id="edit-bookmark-url-input"
            type="url"
            placeholder="Url"
            v-bind:value="bookmark.url"
            v-on:keyup="focusDescription"
        >
      </div>
      <div id="edit-bookmark-description">
        <textarea
            id="edit-bookmark-description-input"
            name="bookmark-description"
            placeholder="Description"
            v-bind:value="bookmark.description"
            v-on:keyup="keyPress"
        ></textarea>
      </div>
      <div id="edit-bookmark-directory">
        <Select v-bind:options="directories" v-on:selected="selectDirectory"/>
      </div>
      <div id="edit-bookmark-actions">
        <div id="edit-bookmark-loading">
          <Loader v-if="loading"/>
        </div>
        <button v-on:click="edit">Edit</button>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from "@/components/Loader";
import Select from "@/components/Select";

export default {
  'name': 'EditBookmarkMenu',
  'components': {Select, Loader},
  'props': ['bookmark', 'directories'],
  data() {
    return {
      'loading': false,
      'directory': null
    }
  },
  'methods': {
    selectDirectory(id) {
      this.directory = id
    },
    focusUrl(event) {
      if (event.key === 'Enter') {
        document.getElementById('edit-bookmark-url-input').focus()
      }
    },
    focusDescription(event) {
      if (event.key === 'Enter') {
        document.getElementById('edit-bookmark-description-input').focus()
      }
    },
    keyPress(event) {
      if (event.key === 'Enter') {
        this.edit()
      }
    },
    edit() {
      this.loading = true

      this.$emit('edit', {
        ...this.bookmark,
        'name': document.getElementById('edit-bookmark-name-input').value,
        'url': document.getElementById('edit-bookmark-url-input').value,
        'description': document.getElementById('edit-bookmark-description-input').value,
        'directory': (!Number.isInteger(this.directory)) ? this.bookmark.directory : this.directory
      })
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="less">
@import "menu";

@menu-width: 275px;

#edit-bookmark-wrapper {
  #bookmarks-menu > .menu-wrapper;
}

#edit-bookmark-shadow {
  #bookmarks-menu > .menu-shadow;
}

#edit-bookmark-menu {
  #bookmarks-menu > .menu(@menu-width);

  display: grid;
  grid-template-rows: 40px 40px 1fr 30px;
  grid-gap: 10px;
}

#edit-bookmark-name,
#edit-bookmark-url,
#edit-bookmark-description,
#edit-bookmark-directory {
  #shortcuts > .position-center;

  input {
    padding: 10px;
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 100px;
    overflow: visible;
  }
}

#edit-bookmark-actions {
  #bookmarks-menu > .menu-actions;
}

#edit-bookmark-loading {
  #bookmarks-menu > .menu-loading;
}
</style>