@import "../../../index";

#bookmarks-menu {
  .menu-wrapper {
    #shortcuts > .top-left;
    #shortcuts > .size-full;
    #shortcuts > .position-center;

    position: fixed;
    z-index: 100;
  }

  .menu-shadow {
    #shortcuts > .size-full;

    opacity: 0.6;
    background-color: black;
    cursor: pointer;
    position: absolute;
  }

  .menu(@menu-width) {
    width: @menu-width;
    background-color: @block-color;
    border-radius: 7px;
    position: absolute;
    padding: 10px;
  }

  .menu-actions {
    display: flex;
    justify-content: space-between;

    button {
      padding: 5px;
      cursor: pointer;
    }
  }

  .menu-loading {
    #shortcuts > .position-center;

    width: 30px;
    height: 30px;

    div {
      transform: scale(0.3);
    }
  }
}