<template>
  <div id="alerts">
    <OpenAlertMenu
        v-if="selectedAlert !== null"
        v-bind:text="selectedAlert.text"
        v-bind:header="selectedAlert.header"
        v-on:close="selectedAlert = null"
    />
    <Alert
        v-for="(a, i) in alerts"
        v-bind:key="i"
        v-bind:header="a.header"
        v-on:open="selectedAlert = a"
        v-on:hide="removeAlert(a.id)"
    />
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Alert from "@/components/Alert";
import OpenAlertMenu from "@/views/Alerts/menus/OpenAlertMenu";

export default {
  'name': 'Alerts',
  'components': {OpenAlertMenu, Alert},
  'computed': mapGetters(['alerts']),
  data() {
    return {
      'selectedAlert': null
    }
  },
  'methods': {
    ...mapMutations(['removeAlert'])
  }
}
</script>

<style scoped lang="less">
@import "../../index";

#alerts {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
}

@media (max-width: 320px) {
  #alerts {
    bottom: 40px;
    right: 10px;
  }
}
</style>