<template>
  <div id="open-alert-wrapper">
    <div id="open-alert-shadow" v-on:click="$emit('close')"></div>
    <div id="open-alert-menu">
      <div id="open-alert-header">
        <span>{{ header }}</span>
      </div>
      <div id="open-alert-text">
        <textarea v-bind:value="text"></textarea>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OpenAlertMenu",
  'props': ['header', 'text']
}
</script>

<style scoped lang="less">
@import "../../../index";

@menu-width: 280px;

#open-alert-wrapper {
  #shortcuts > .top-left;
  #shortcuts > .size-full;
  #shortcuts > .position-center;

  position: fixed;
  z-index: 100;
}

#open-alert-shadow {
  #shortcuts > .size-full;

  opacity: 0.6;
  background-color: black;
  cursor: pointer;
  position: absolute;
}

#open-alert-menu {
  width: @menu-width;
  background-color: @block-color;
  border-radius: 7px;
  position: absolute;
  padding: 10px;

  display: flex;
  flex-direction: column;

  #open-alert-header {
    padding: 10px;
    justify-content: flex-start;
    word-break: break-word;
    font-weight: bold;

    span {
      font-size: 16px;
    }
  }

  div {
    #shortcuts > .position-center;

    textarea {
      width: 100%;
      height: 200px;
      overflow-x: hidden;
      font-size: 14px;
    }
  }
}
</style>