<template>
  <div id="app">
    <Alerts/>
    <div v-if="loading" id="loader-wrapper">
      <Loader/>
    </div>
    <router-view v-else/>
  </div>
</template>

<script>
import Loader from "@/components/Loader";
import { mapGetters, mapActions } from 'vuex'
import Alerts from "@/views/Alerts/Alerts";

export default {
  'name': 'App',
  'components': { Alerts, Loader },
  'computed': mapGetters(['loading']),
  'methods': {
    ...mapActions(['authenticate'])
  },
  async mounted() {
    await this.authenticate()
  }
}
</script>

<style lang="less">
@import "index";

#loader-wrapper {
  #shortcuts > .size-full;
  #shortcuts > .position-center;
}
</style>
