@background-color: #222222;
@super-block-color: #303030;
@block-color: #414141;
@sub-block-color: #525252;
@primary-color: #ec625f;

body, html, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input, button, span {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  letter-spacing: 1px;
}

body {
  background-color: @background-color;
}

span {
  color: @primary-color;
}

svg {
  fill: @primary-color;
}

a {
  text-decoration: none;
  color: @primary-color;
}

input, textarea {
  resize: none;
  text-decoration: none;
  color: @primary-color;
  background-color: @background-color;
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  border: none;
  outline: none;
  letter-spacing: 0.3px;
}

button {
  background-color: @primary-color;
  outline: none;
  border: none;
  color: white;
  padding: 7px 5px 7px 5px;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

select, option {
  background-color: @background-color;
  border: none;
  outline: none;
  color: @primary-color;
  border-radius: 7px;
  padding: 5px;
  appearance: none;
  font-size: 16px;
}

option:hover {
  background-color: @background-color;
  outline: none;
  border: none;
}

@burger-width: 25px;
@burger-height: 18px;

#shortcuts {
  .position-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .size-full {
    width: 100%;
    height: 100%;
  }

  .top-left {
    top: 0;
    left: 0;
  }
}

@icon-standard-size: 50px;

#icon {
  .standard-size {
    height: @icon-standard-size;
    width: @icon-standard-size;
  }
}